.bg-blue {
  background-color: #1E73BE !important;
}

nav {
  gap: 10px;
}

nav .nav-link {
  color: #ffffffcc !important;
  background-color: transparent;
  border-radius: 8px;
  font-size: 15px;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Hover effect */
nav .nav-link:hover {
  background-color: #ffffff26;
  color: #fff !important;
  transform: scale(1.01);
}

/* Active route style */
nav .nav-link.active {
  background-color: #292D76 !important;
  color: #fff !important;
  font-weight: 500;
}

/* Mobile Offcanvas */
@media (max-width: 768px) {
  .offcanvas {
    width: 280px !important;
    background-color: #1E73BE !important;
  }

  .offcanvas .offcanvas-header .offcanvas-title {
    color: #fff;
  }

  .offcanvas .offcanvas-header .btn-close {
    filter: invert(1);
    opacity: 1;
  }

  .offcanvas .offcanvas-body .nav {
    gap: 10px;
  }

  .offcanvas .offcanvas-body .nav-link {
    color: #ffffffcc !important;
    background-color: transparent;
    border-radius: 8px;
    font-size: 15px;
    padding: 10px 15px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* Hover effect */
  .offcanvas .offcanvas-body .nav-link:hover {
    background-color: #ffffff26;
    color: #fff !important;
    transform: scale(1.01);
  }

  /* Active route style */
  .offcanvas .offcanvas-body .nav-link.active {
    background-color: #292D76 !important;
    color: #fff !important;
    font-weight: 500;
  }
}